<!DOCTYPE HTML>
<html>
<head>
    <title>M2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<table>
    <tbody>
    {{#each boardList}}
        <tr>
            <td>{{num}}</td>
            <td>{{agree_yn}}</td>
            <td>{{email}}</td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{phone}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
