<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS-->
    <link href="/css/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/css/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/css/bootstrap/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/bootstrap/sb-admin.css" rel="stylesheet">
    <script src="/js/handlebars/handlebars-v4.0.11.js"></script>
    <script type="text/javascript">
        function boardRemove(id){
            if(confirm("삭제하시겠습니까?")){
                $.get( "/admin/board/remove/"+id, function( data ) {
                    if(data=='success'){
                        alert("삭제되었습니다");
                        location.href="/admin/board/list/1";
                    }
                });
            }
        }
    </script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

{{> admin/common/nav}}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">{{boardMaster.name}} 수정</div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                {{#board}}
                    <form name="boardForm" method="post" action="/admin/board/modify/{{board_master_id}}/{{id}}">
                        <div class="form-group">
                            <label for="name">제목 </label>
                            <input class="form-control" id="title" name="title" value="{{title}}" type="text">
                        </div>
                        <div class="form-group">
                            <label for="name">내용 </label>
                            <textarea name="contents" class="form-control" rows="3">{{contents}}</textarea>
                        </div>
                        <div style="text-align: center">
                            <input type="submit" value="수정" class="btn btn-primary" />
                            <button type="button" class="btn btn-primary" onclick="boardRemove({{id}})">삭제</button>
                            <a class="btn btn-primary" href="/admin/board/list/{{board_master_id}}" role="button">목록</a>
                        </div>
                    </form>
                {{/board}}
            </div>
        </div>
    </div>
</div>

{{> admin/common/footer}}

</body>
</html>
