<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div class="row">
    <div class="col-8">{{boardMaster.name}} 수정</div>
</div>
<div class="card mt-5">
    <div class="card-body">
        {{#board}}
            <form name="boardForm" id="boardForm" method="post" action="/admin/board/modify/{{board_master_id}}/{{id}}" enctype="multipart/form-data" onsubmit="return submitCheck(this); return false;">
                <div class="form-group">
                    <label for="name">제목 </label>
                    <input class="form-control" id="title" name="title" value="{{title}}" type="text">
                </div>
                <div class="form-group">
                    <label for="name">내용 </label>
                    <textarea name="contents" class="form-control" rows="3">{{contents}}</textarea>
                </div>
                <div class="form-group">
                    {{#each fileList}}
                    <p>
                        <a href="/board/fileDown/{{id}}">{{oriName}}</a>
                        <a href="#" class="delete" data-id="{{id}}">[삭제]</a>
                    </p>
                    {{/each}}
                    <label for="file1">첨부파일 </label>
                    <input id="file1" type="file" name="file" />
                    <br />
                    <label for="file2">첨부파일 </label>
                    <input id="file2" type="file" name="file" />
                    <br />
                    <label for="file3">첨부파일 </label>
                    <input id="file3" type="file" name="file" />
                </div>
                <div style="text-align: center">
                    <input type="submit" value="수정" class="btn btn-primary" />
                    <button type="button" class="btn btn-primary" onclick="boardRemove({{id}})">삭제</button>
                    <a class="btn btn-secondary" href="/admin/board/list/{{board_master_id}}" role="button">목록</a>
                </div>
            </form>
        {{/board}}
    </div>
</div>

{{> admin/common/footer }}
<script type="text/javascript">
    function blankCheck(val) {
        var check=true;
        if( val == '' || val == 'undefined') {
            check=false;
        }
        return check;
    }
    function boardRemove(id){
        if(confirm("삭제하시겠습니까?")){
            $.get( "/admin/board/remove/"+id, function( data ) {
                if(data=='success'){
                    alert("삭제되었습니다");
                    location.href="/admin/board/list/1";
                }
            });
        }
    }
    $(document).ready(function(){
        $(".delete").click(function() {
            var id = $(this).attr("data-id");
            var ids = "<input type=\"text\" name=\"fileDeleteArray\" value=\""+id+"\" />";
            $(this).parent().remove();
            var fileCnt = $("#fileCnt").val();
            $("#boardForm").append(ids);
        });
    });
    function submitCheck(form) {
        var name = $("#title").val();
        if(!blankCheck(name)) {
            alert("제목을 입력하세요.");
            $("#title").focus();
            return false;
        }

        var file1 = $("input[id=file1]").val();
        var file2 = $("input[id=file2]").val();
        var file3 = $("input[id=file3]").val();
        var maxSize = 512*1024*1024;
        var fileSize =0;

        if(file1!=''){
            fileSize =$("#file1")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        if(file2!=''){
            fileSize =$("#file2")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        if(file3!=''){
            fileSize =$("#file3")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        return true;
    }
</script>
</body>
</html>
