<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div class="row">
    <div class="col-8">{{boardMaster.name}} 답변 </div>
</div>
<div class="card mb-3">
    {{#question}}
    <div class="card-header">
        질문 제목: {{title}}
    </div>
    <div class="card-body">
        {{contents}}
    </div>
    <div class="card-footer small text-muted">등록일: {{formatDate createDate "yyyy-MM-dd"}}</div>
    {{/question}}
</div>
{{#if replyList}}
<div class="card mb-3">
    {{#replyList}}
        <div class="card-header">
            답변 제목: {{title}}
            <div style="float: right">
                <button type="button" class="btn btn-success btn-sm" onclick="boardReplyRemove({{id}})">삭제</button>
            </div>
        </div>
        <div class="card-body">
            {{contents}}
        </div>
        <div class="card-footer small text-muted">등록일: {{createDate}}</div>
    {{/replyList}}
</div>
{{/if}}
<div class="card mt-5">
    <div class="card-header">답변</div>
    <div class="card-body">
        <form name="boardForm" method="post" action="/admin/board/reply/{{board_id}}">
            <input type="hidden" name="board.id" value="{{board_id}}" />
            <input type="hidden" name="user.num" value="1" />
            <div class="form-group">
                <label for="name">제목 </label>
                <input class="form-control" id="title" name="title" type="text">
            </div>
            <div class="form-group">
                <label for="name">내용 </label>
                <textarea class="form-control" name="contents" rows="3"></textarea>
            </div>
            <div style="text-align: center; margin-bottom: 40px">
                <input type="submit" value="등록" class="btn btn-primary" />
                <a class="btn btn-secondary" href="/admin/board/list/{{boardMaster.id}}" role="button">목록</a>
            </div>
        </form>
    </div>
</div>

{{> admin/common/footer }}

<script type="text/javascript">
    function boardReplyRemove(id){
        if(confirm("삭제하시겠습니까?")){
            $.get( "/admin/board/reply/remove/"+id, function( data ) {
                if(data=='success'){
                    alert("삭제되었습니다");
                    location.href="/admin/board/reply/{{boardMaster.id}}";
                }
            });
        }
    }
</script>
</body>
</html>
