<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>M2 CALCULUS TEST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="apple-mobile-web-app-title" content="M2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap hasHeader hasCalProcess hasFooter">


    {{> common/header}}

    <div class="calProcess">
        <div class="_l">
            <ul>
                <li class="complete"><a href="#" data-url="/estimate/step01?id={{structureDetailForm.structure.id}}">건물정보</a></li>
                <li class="on"><a href="#" data-url="/estimate/step02?structure_detail_id={{structureDetailForm.id}}">세부정보</a></li>
                <li><a href="#" data-url="/estimate/step03?structure_detail_id={{structureDetailForm.id}}">규격정보</a></li>
                <li><a href="#" data-url="/estimate/step04?structure_detail_id={{structureDetailForm.id}}">자재선택</a></li>
            </ul>
        </div>
    </div>
    <div id="content" class="cal">
        <div class="contentArea">
            <div class="formArea">
                <form name="structureDetailForm" id="structureForm" method="post" action="/estimate/step02">
                {{#structureDetailForm}}
                <input type="text" name="id" id="id" value="{{id}}" />
                <input type="text" name="structure.id" id="structure_id" value="{{structure.id}}" />
                <input type="text" name="insideWallYn" id="insideWallYn" value="{{insideWallYn}}" />
                <input type="text" name="ceilingYn" id="ceilingYn" value="{{ceilingYn}}" />
                <input type="text" name="windowYn" id="windowYn" value="{{windowYn}}" />
                <input type="text" name="doorYn" id="doorYn" value="{{doorYn}}" />
                <input type="text" name="canopyYn" id="canopyYn" value="{{canopyYn}}" />
                <input type="text" name="downpipeYn" id="downpipeYn" value="{{downpipeYn}}" />
                <input type="text" id="returnUrl" name="returnUrl" value="" />

                <div class="_l">
                    <div class="formsGroup noHP">
                        <div class="boolean">
                            <div class="booleanTitle">내벽</div>
                            <div class="booleanButton" id="finsideWallYn">
                                <button value="Y">있음</button>
                                <button value="N" class="on">없음</button>
                            </div>
                        </div>
                        <div class="boolean">
                            <div class="booleanTitle">천장</div>
                            <div class="booleanButton" id="fceilingYn">
                                <button value="Y">있음</button>
                                <button value="N" class="on">없음</button>
                            </div>
                        </div>
                        <div class="boolean">
                            <div class="booleanTitle">창문</div>
                            <div class="booleanButton" id="fwindowYn">
                                <button value="Y">있음</button>
                                <button value="N" class="on">없음</button>
                            </div>
                        </div>
                        <div class="boolean">
                            <div class="booleanTitle">도어</div>
                            <div class="booleanButton" id="fdoorYn">
                                <button value="Y">있음</button>
                                <button value="N" class="on">없음</button>
                            </div>
                        </div>
                        <div class="boolean">
                            <div class="booleanTitle">캐노피</div>
                            <div class="booleanButton" id="fcanopyYn">
                                <button value="Y">있음</button>
                                <button value="N" class="on">없음</button>
                            </div>
                        </div>
                        <!--<div class="boolean">-->
                            <!--<div class="booleanTitle">선홈통</div>-->
                            <!--<div class="booleanButton" id="fdownpipeYn">-->
                                <!--<button value="Y">있음</button>-->
                                <!--<button value="N" class="on">없음</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                {{/structureDetailForm}}
                </form>
            </div>
        </div>
    </div>
    <div id="nav">
        <div class="_l">
            <ul>
                <li><a href="#" class="on"><img src="/images/m2/nav/n01.png" alt="cal" /></a></li>
                <li><a href="#"><img src="/images/m2/nav/n02.png" alt="3d" /></a></li>
                <li><a href="#"><img src="/images/m2/nav/n03.png" alt="bbs" /></a></li>
                <li><a href="#"><img src="/images/m2/nav/n04.png" alt="member" /></a></li>
            </ul>
        </div>
    </div>
    <div id="button">
        <div class="_l">
            <ul class="_c2">
                <li><a href="#" class="prev" data-url="/estimate/step01?id={{structureDetailForm.structure.id}}">이전</a></li>
                <li><a href="#" class="next on">다음</a></li>
            </ul>
        </div>
    </div>


</div>

<script type="text/javascript">
$(document).ready(function(){
var sdetailId = $("#id").val();

//수정
if(sdetailId!=''){
    $(".formArea button").removeClass("on");

    var insideWallYn = $("#insideWallYn").val();
    var ceilingYn = $("#ceilingYn").val();
    var windowYn = $("#windowYn").val();
    var doorYn = $("#doorYn").val();
    var canopyYn = $("#canopyYn").val();
    var downpipeYn = $("#downpipeYn").val();

    var obj = {
        "insideWallYn": insideWallYn,
        "ceilingYn": ceilingYn,
        "windowYn":windowYn,
        "doorYn":doorYn,
        "canopyYn":canopyYn,
        "downpipeYn":downpipeYn
    };

    $.each( obj, function( key, value ) {
        $("#f"+key+">button" ).each(function() {
            if($(this).val() == value) $(this).addClass("on");
        });
    });
}

$(".formArea button").click(function() {
    $(this).parent().find("button").removeClass("on");
    $(this).addClass("on");
    return false;
});

$(".next").click(function() {
    var insideWallYn = $("#finsideWallYn>button.on").val();
    var ceilingYn = $("#fceilingYn>button.on").val();
    var windowYn = $("#fwindowYn>button.on").val();
    var doorYn = $("#fdoorYn>button.on").val();
    var canopyYn = $("#fcanopyYn>button.on").val();
    var downpipeYn = $("#fdownpipeYn>button.on").val();

    var obj = {
        "insideWallYn": insideWallYn,
        "ceilingYn": ceilingYn,
        "windowYn":windowYn,
        "doorYn":doorYn,
        "canopyYn":canopyYn,
        "downpipeYn":downpipeYn
    };

    $.each( obj, function( key, value ) {
        $("#"+key).val(value);
    });

    $( "#structureForm" ).submit();
});
});
</script>

</body>
</html>

