{{#each noticeList}}
    <li>
        <div class="article">
            <a class="articleLink" href="/board/show/{{boardMaster.id}}/{{id}}">
                <span class="articleTitle">{{title}}</span>
                <span class="articleWriter">{{user.name}}</span>
                <span class="articleDate">{{formatDate createDate "yyyy-MM-dd"}}</span>
            </a>
        </div>
    </li>
{{/each}}