<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>M2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="apple-mobile-web-app-title" content="M2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap hasHeader hasArticleHeader hasFooter"><!-- hasHeader hasArticleHeader hasFooter hasArticleFooter -->

    {{> common/header}}

    <div class="articleHeader">
        <div class="_l">
            <h2>공지사항 & 커뮤니티</h2>
        </div>
    </div>
    <div id="content" class="bbsMain">
        <div class="contentArea">
            <div class="_l">
                <ul class="bbsListArticles">
                    {{#each noticeList}}
                    <li>
                        <div class="article">
                            <a class="articleLink" href="/board/show/{{boardMaster.id}}/{{id}}">
                                <span class="articleTitle">{{title}}</span>
                                <span class="articleWriter">{{user.name}}</span>
                                <span class="articleDate">{{formatDate createDate "yyyy-MM-dd"}}</span>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                    {{#each communityList}}
                        <li>
                            <div class="article">
                                <a class="articleLink" href="/board/show/{{boardMaster.id}}/{{id}}">
                                    <span class="articleTitle">{{title}}</span>
                                    <span class="articleWriter">{{user.name}}</span>
                                    <span class="articleDate">{{formatDate createDate "yyyy-MM-dd"}}</span>
                                </a>
                                {{#each boardReplyList}}
                                    <br /> - 답변: {{title}} |  {{formatDate createDate "yyyy-MM-dd"}}
                                {{/each}}
                            </div>
                        </li>
                    {{/each}}
                    <li id="more" class="articleMore" data-url="/picture/listAllContents" data-ui=".d3ImgList" data-last="{{pictureAllList.totalPages}}" data-current="{{page}}"><button type="button">더보기</button></li>
                </ul>
            </div>
        </div>
    </div>
    {{> common/footer}}

    <!--    <div class="articleFooter">
            <div class="_l">
                <button class="app bgBlue">글 등록</button>
            </div>
        </div>-->

</div>
<script type="text/javascript">
$(document).ready(function(){
    $("#nav>div>ul>li:eq(2)>a").addClass("on");
    $(".headerTitle").text("커뮤니티");
});
</script>
</body>
</html>