<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>M2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="apple-mobile-web-app-title" content="M2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap hasHeader hasArticleHeader hasFooter"><!-- hasHeader hasArticleHeader hasFooter hasArticleFooter -->

    {{> common/headerSub}}

    <div class="articleHeader">
        <div class="_l">
            <h2>{{board.title}}</h2>
        </div>
    </div>
    <div id="content" class="bbs">
        <div class="contentArea">
            <div class="_l">
                {{#board}}
                <div class="bbsInfo">{{user.name}} | {{formatDate createDate "yyyy-MM-dd"}}</div>
                {{#if fileList}}
                    <div class="bbsInfo">첨부파일 |
                    {{#each fileList}}
                    <a href="/board/fileDown/{{id}}">{{oriName}}</a> <br />
                    {{/each}}
                    </div>
                {{/if}}
                <div class="bbsContent">
                    <p>{{contentsReplace contents}}</p>
                </div>
                {{/board}}
            </div>
        </div>
    </div>

    <div id="button">
        <div class="_l">
            <ul class="_c1">
                <li><a href="/board/list" class="positive">목록</a></li>
            </ul>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav>div>ul>li:eq(2)>a").addClass("on");
        $(".headerTitle").html('<a href="">커뮤니티</a>');
    });
</script>
</body>
</html>