{{#each canopyList}}
<div class="article on">
    <div class="forms hasFormsTitle hasP">
        <div class="formsTitle">
            <button type="button" class="{{#notEquals @index 0 }}delete{{/notEquals}}{{#equals @index 0 }}deleteFirst{{/equals}}" data-url="/estimate/remove/canopy/{{id}}"><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                <strong class="title">캐노피</strong><span class="guide">삭제</span>
            </button>
        </div>
        <div class="form hasUnit half">
            <input type="number" name="structureDetail.canopyList[{{@index}}].length" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="길이" autocomplete="off" class="focusAct" value="{{length}}" />
            <div class="unit">㎜</div>
        </div>
        <div class="form hasUnitS half">
            <input type="number" name="structureDetail.canopyList[{{@index}}].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="amount focusAct" value="{{amount}}" />
            <div class="unit">EA</div>
        </div>
    </div>
</div>
{{/each}}
<div class="firstArticle article" id="canopyListFirst" style="display: none" data-count="{{canopyListSize}}">
    <div class="forms hasFormsTitle hasP">
        <div class="formsTitle">
            <button type="button" class="deleteFirst" data-url=""><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                <strong class="title">캐노피</strong><span class="guide">삭제</span>
            </button>
        </div>
        <div class="form hasUnit half">
            <input type="number" name="structureDetail.canopyList[0].length" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="길이" autocomplete="off" class="focusAct" value="" />
            <div class="unit">㎜</div>
        </div>
        <div class="form hasUnitS half">
            <input type="number" name="structureDetail.canopyList[0].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="amount focusAct" value="" />
            <div class="unit">EA</div>
        </div>
    </div>
</div>
<div class="articleAdd">
    <button type="button" value="canopyArea" data-class="canopyList">캐노피 종류 추가</button>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var cacount = '{{canopyListSize}}';

    if(cacount==0){
        $("#canopyListFirst").show();
        $("#canopyListFirst").addClass("on");
    }
});
</script>