<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div style="text-align: right;width: 50%; padding-bottom: 5px">
    <nav aria-label="breadcrumb" style="float:left">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"> 판넬자동산출 | 전체 {{comma estimateList.totalElements}}건 </li>
        </ol>
    </nav>
</div>

<div class="input-group" style="float:right; width:60%">
    <form class="form-inline my-2 my-lg-0 mr-lg-2" id="searchFrom" action="/admin/estimate/list">
        <select class="custom-select" id="searchCondition" name="searchCondition" aria-label="Example select with button addon">
            <option value="">전체</option>
            <optgroup label="타입">
                <option value="AT">A 트러스</option>
                <option value="BT">B 트러스</option>
                <option value="BE">B 처마형</option>
                <option value="BB">B 박스형</option>
                <option value="AB">A 박스형</option>
                <option value="AE">A 처마형</option>
            </optgroup>
            <option value="placeName">현장명</option>
            <option value="name">신청인</option>
            <option value="phone">전화번호</option>
            <option value="email">메일</option>
        </select>
        <select class="custom-select" id="status" name="status" aria-label="Example select with button addon">
            <option value="">견적상태</option>
            <option value="S">기본</option>
            <option value="Q">견적요청</option>
            <option value="R">견적완료</option>
            <option value="D">삭제</option>
        </select>
        <div class="input-group">
            <input class="form-control" type="text" name="searchText" id="searchText" placeholder="Search for..." value="{{searchText}}">
            <span class="input-group-btn"><button class="btn btn-primary" type="button" id="search"><i class="fa fa-search"></i></button></span>
        </div>
    </form>
</div>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>번호</th>
        <th>타입</th>
        <th>상태</th>
        <th>견적요청일</th>
        <th>현장명</th>
        <th>신청인</th>
        <th>이메일</th>
        <th>전화번호</th>
        <th>신청일</th>
    </tr>
    </thead>
    <tbody>
    {{#each estimateList}}
        <tr>
            <td> {{rowNum estimateList.totalElements page @index }} </td>
            <td><a href="/admin/estimate/show/{{id}}">{{typeNameKr structureType}}</a></td>
            <td>{{statusKr status}}</td>
            <td>{{formatDate statusDate "yyyy-MM-dd"}}</td>
            <td><a href="/admin/estimate/show/{{id}}">[{{cityNameKr cityName}}] {{placeName}}</a></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{formatDate createDate "yyyy-MM-dd"}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{> admin/common/paginationAdmin currentPageNumber=page totalPageCount=estimateList.totalPages pageGroupCount=estimateList.numberOfElements}}

{{> admin/common/footer }}

<script type="text/javascript">
    $(document).ready(function(){
        $("#search").click(function() {
            var condition = $("#searchCondition").val();
            if(condition!='' && (condition =='placeName' || condition =='name' || condition =='phone' || condition =='email')){
                var searchText = $("#searchText").val();
                if(searchText==''){
                  alert("검색어를 입력하세요.");
                  return false;
                }
            }
            $("#searchFrom").submit();
        });
        var searchCondition = "{{searchCondition}}";
        var status = "{{status}}";

        if(searchCondition!=''){
            $("#searchCondition").val(searchCondition);
        }
        if(status!=''){
            $("#status").val(status);
        }
    });
</script>
</body>
</html>
