<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}
<div class="card mb-3">
    <div class="card-header">
        {{#structure}}
            <strong>{{typeNameKr structureType}} - [{{cityNameKr cityName}}] {{placeName}}</strong>
            <p style="text-align: right">{{user.name}} / {{user.phone}} / {{user.email}}</p>
        {{/structure}}
    </div>
    <div class="card-body">
        {{#structure}}
            <div class="form-group">
                <strong>건물폭</strong> : {{comma width}} ㎜
                <strong>건물길이</strong>: {{comma length}} ㎜
                <strong>건물높이</strong>: {{comma height}} ㎜
                <strong>트러스높이</strong>: {{comma trussHeight}}㎜ <br />
                {{#equals 'AE' type}}<strong>처마길이</strong>: {{comma eavesLength}}㎜<br />{{/equals}}
                {{#equals 'BE' type}}<strong>처마길이</strong>: {{comma eavesLength}}㎜ <strong>배면트러스높이</strong>: {{comma rearTrussHeight}}㎜<br />{{/equals}}
                {{#notEquals 0 insideWidth}}<strong>건물내폭</strong>: {{comma insideWidth}} ㎜{{/notEquals}}
                {{#notEquals 0 insideLength}}<strong>건물내길이</strong>: {{comma insideLength}} ㎜{{/notEquals}}
                {{#notEquals 0 rooftopSideHeight}}<strong>옥탑난간높이</strong>: {{comma rooftopSideHeight}} ㎜{{/notEquals}}
                {{#notEquals 0 rooftopWidth}}<strong>옥탑폭</strong>: {{comma rooftopWidth}} ㎜{{/notEquals}}
                {{#notEquals 0 rooftopLength}}<strong>옥탑길이</strong>: {{comma rooftopLength}} ㎜{{/notEquals}}
                {{#notEquals 0 rooftopHeight}}<strong>옥탑높이</strong>: {{comma rooftopHeight}} ㎜{{/notEquals}}
            </div>
        {{/structure}}
        {{#structureDetail}}
            <div class="form-group">
                <strong>{{#equals "SL" type}}옥탑구찌{{/equals}}{{#equals 'AG' type}}구찌(드레인)안쪽{{/equals}}</strong>: {{gucci}} DIA / {{gucciAmount}} EA<br />
                <strong>구찌 안쪽 </strong>: {{gucciInside}} DIA / {{gucciInsideAmount}} EA<br />
                {{#equals insideWallYn 'Y'}}<strong>내벽</strong> {{standardKr insideWallType insideWallPaper}}/{{insideWallThick}}{{/equals}}<br />
                <strong>외벽 </strong>{{standardKr outsideWallType outsideWallPaper}}/{{outsideWallThick}}<br />
                <strong>지붕</strong> {{standardKr roofType roofPaper}}/{{roofThick}}<br />
                {{#equals ceilingYn 'Y'}}<strong>천장</strong> {{standardKr ceilingType ceilingPaper}}/{{ceilingThick}}{{/equals}}
            </div>
            <div class="form-group">
                {{#equals insideWallYn 'Y'}}
                    <strong>내벽 <br/></strong>
                    {{#each insideWallList}}
                        길이 {{comma length}} ㎜
                        높이 {{comma height}} ㎜
                        수량 {{comma amount}} EA
                        <br />
                    {{/each}}
                    <hr />
                {{/equals}}
                {{#equals ceilingYn 'Y'}}
                    <strong>천장 <br/></strong>
                    {{#each ceilingList}}
                        길이 {{comma length}} ㎜
                        높이 {{comma height}} ㎜
                        수량 {{comma amount}} EA
                        <br />
                    {{/each}}
                    <hr />
                {{/equals}}
                {{#equals windowYn 'Y'}}
                    <strong>창문 <br/></strong>
                    {{#each windowList}}
                        폭  {{comma width}} ㎜
                        높이 {{comma height}} ㎜
                        수량 {{comma amount}} EA
                        <br />
                    {{/each}}
                    <hr />
                {{/equals}}
                {{#equals doorYn 'Y'}}
                    <strong>도어 <br/></strong>
                    {{#each doorList}}
                        {{#equals 'S' subType}}스윙도어{{/equals}}
                        {{#equals 'F' subType}}방화문{{/equals}}
                        {{#equals 'H' subType}}행거도어(EPS전용){{/equals}}
                        {{#equals 'O' type}}외벽 설치{{/equals}}
                        {{#equals 'I' type}}내벽 설치{{/equals}}
                        너비 {{comma width}} ㎜
                        높이 {{comma height}} ㎜
                        수량 {{comma amount}} EA
                        <br />
                    {{/each}}
                    <hr />
                {{/equals}}
                {{#equals canopyYn 'Y'}}
                    <strong>캐노피 <br /></strong>
                    {{#each canopyList}}
                        길이 {{comma length}} ㎜
                        수량 {{comma amount}} EA
                        <br />
                    {{/each}}
                    <hr />
                {{/equals}}
            </div>
        {{/structureDetail}}
        <div style="text-align: right; margin-top:20px; margin-bottom: 40px;">
            <a href="/estimate/fileDown/{{structure.id}}" style="float: left" class="btn btn-success">엑셀다운로드</a>
            {{#equals structure.status 'Q'}}
                <a href="#" id="updateState" style="float: left; margin-left:5px;" class="btn btn-success">견적발송</a>
            {{/equals}}
            <a class="btn btn-secondary" href="/admin/estimate/list" role="button">목록</a>
            <a class="btn btn-primary" href="#" role="button" id="remove">삭제</a>
        </div>
    </div>
</div>

{{> admin/common/footer }}

<script type="text/javascript">
    $(document).ready(function() {
        $('#remove').click(function() {
            if(confirm("삭제하시겠습니까?")){
                $.get( "/estimate/remove/{{structure.id}}", function( data ) {
                    if(data=='success'){
                        alert("삭제되었습니다.");
                        location.href="/admin/estimate/list";
                    }
                });
            }
        });
        $('#updateState').click(function() {
            if(confirm("견적완료처리 하시겠습니까?")){
                $.get( "/estimate/remove/{{structure.id}}/R", function( data ) {
                    if(data=='success'){
                        alert("견적완료처리되었습니다.");
                        location.href="/admin/estimate/list";
                    }
                });
            }
        });
    });
</script>

</body>
</html>
