<!DOCTYPE html>
<html lang="ko" class="fullsize">
<head>
    <meta charset="UTF-8" />
    <title>M2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="apple-mobile-web-app-title" content="M2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap hasHeader hasArticleHeader hasFooter">

    {{> common/headerSub}}

    <div class="articleHeader">
        <div class="_l">
            <h2>나의 간이투시도 신청 내역</h2>
        </div>
    </div>

    <div id="content">
        <div class="contentArea">
            <div class="d3List">
                <div class="_l">
                    {{#if pictureList}}
                    <ul class="d3ListArticles">
                        {{#each pictureList}}
                            <li>
                                <div class="article">
                                    <a class="articleLink" href="/picture/show/{{id}}">
                                        <span class="articleTitle">{{name}}</span>
                                        <span class="articleDate">{{formatDate createDate "yyyy-MM-dd HH:ss"}}</span>
                                    </a>
                                    <button class="{{pictureStatusCss status}} articleButton" type="button" data-url="/picture/zipFileDown/{{id}}?sName={{name}}">
                                        <img src="/images/m2/common/icon{{status}}.png" class="icon" alt="{{pictureStatusUser status}}" />
                                        <span class="buttonName"> &nbsp; {{pictureStatusUser status}}</span>
                                    </button>
                                </div>
                            </li>
                        {{/each}}
                        <li id="more" class="articleMore" data-url="/picture/myListContents" data-ui=".d3ListArticles" data-last="{{pictureList.totalPages}}" data-current="{{page}}"><button type="button">더보기</button></li>
                    </ul>
                    {{/if}}
                    {{#unless pictureList}}
                        <div class="articleNone">
                            <strong>나의 간이투시도 내역이 없습니다.</strong>
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>

    {{> common/footer}}

</div>

<script type="text/javascript" src="/js/m2/more.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav>div>ul>li:eq(1)>a").addClass("on");
        $(".headerTitle").html('<a href="/picture/list">간이투시도</a>');
        $(".complete").click(function() {
            window.location.assign($(this).attr("data-url"));
        });
    });
</script>
</body>
</html>