<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div class="table-responsive">
    <div style="text-align: right;width: 100%; padding-bottom: 5px"><a class="btn btn-primary" href="/admin/board/master/register" role="button">등록</a></div>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>게시판명(ID)</th>
            <th>답글게시판여부</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        {{#each masterList}}
            <tr>
                <td><a href="/admin/board/master/modify/{{id}}">{{name}} ({{id}})</a> | <a href="/admin/board/list/{{id}}">{{name}}등록</a></td>
                <td>{{replyYn}} </td>
                <td>{{status}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{> admin/common/footer }}

</body>
</html>