<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div class="card mt-5">
    <div class="card-body">
        {{#pictureDetail}}
            <div class="form-group">
                <a class="btn btn-secondary btn-sm" role="button">{{pictureStatus status}}</a>
                <label for="name">{{name}}</label>
                {{user.name}} / {{user.phone}} / {{user.email}}
                <p>요청사항: {{etc}}</p>
            </div>
            <div class="form-group">
                {{#each fileList}}
                    {{#equals status "S"}}
                    첨부파일:
                    <label for="name"> {{name}}</label>
                    <a href="/picture/fileDown/{{id}}"><button type="button" class="btn btn-primary">도면다운로드</button></a>
                    {{/equals}}
                {{/each}}
            </div>
            <hr />
            <p><strong>* 간이투시도는 완료처리 이후에 사용자에게 보여짐</strong></p>
            <form name="adminFileForm" id="adminFileForm" method="post" action="/admin/picture/upload" enctype="multipart/form-data">
            <input type="hidden" value="{{pictureDetail.id}}" name="id">
            <div class="form-group">
                <input type="file" id="file1" name="file" class="form-control-file" />
                <input type="file" id="file2" name="file" class="form-control-file" />
                <input type="file" id="file3" name="file" class="form-control-file" />
                <div style="text-align: left; margin-top:10px;"><a class="btn btn-primary" href="#" role="button" id="adminUpload">간이투시도 업로드</a></div>
            </div>
            </form>
            <hr />
            <div class="form-group">
            {{#each adminFileList}}
                {{#equals status "S"}}
                <a href="/picture/fileDown/{{id}}?type=admin">{{oriName}}</a>   <a href="#" class="remove" data-id="{{id}}">[삭제]</a><br />
                {{/equals}}
            {{/each}}
            </div>
            <div style="text-align: right; margin-top:20px;">
                {{#notEquals status 'D'}}{{#notEquals status 'S4'}}
                {{#pictureStatusUpdate status}}
                    <a href="#" style="float: left" class="btn btn-danger" id="process" data-process="{{code}}">{{codeValue}} 처리</a>
                {{/pictureStatusUpdate}}
                {{/notEquals}}{{/notEquals}}

                <a class="btn btn-secondary" href="/admin/picture/list" role="button">목록</a>
                {{#notEquals status 'D'}}<a class="btn btn-primary" href="#" role="button" id="cancel">삭제</a>{{/notEquals}}
            </div>
        {{/pictureDetail}}
    </div>
</div>

{{> admin/common/footer }}

<script type="text/javascript">
$(document).ready(function() {
    $("#process").click(function() {
        var process = $(this).attr("data-process");
        var msg = $(this).text();
        var id = "{{pictureDetail.id}}";

        if(confirm(msg+" 하시겠습니까?")){
            $.get( "/admin/picture/status/"+id+"?process="+process, function( data ) {
                if(data=='success'){
                    alert("변경되었습니다.");
                    location.href="/admin/picture/show/"+id;
                }
            });
        }
    });

    $(".remove").click(function() {
        var id = $(this).attr("data-id");

        if(confirm("삭제 하시겠습니까?")){
            $.get( "/admin/picture/file/remove/"+id, function( data ) {
                if(data=='success'){
                    alert("삭제되었습니다.");
                    location.href="/admin/picture/show/"+id;
                }
            });
        }
    });

    $("#adminUpload").click(function(){
        var file1 = $("input[id=file1]").val();
        var file2 = $("input[id=file2]").val();
        var file3 = $("input[id=file3]").val();
        var maxSize = 512*1024*1024;
        var fileSize =0;

        if(file1!=''){
            fileSize =$("#file1")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        if(file2!=''){
            fileSize =$("#file2")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        if(file3!=''){
            fileSize =$("#file3")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        $( "#adminFileForm" ).submit();
    });

    $("#cancel").click(function() {
        if(confirm("삭제하시겠습니까?")){
            $.get( "/picture/remove/{{pictureDetail.id}}", function( data ) {
                if(data=='success'){
                    alert("삭제되었습니다.");
                    location.href="/admin/picture/list";
                }
            });
        }
    });
});
</script>

</body>
</html>
