<!DOCTYPE html>
<html lang="ko" class="fullsize">
<head>
    <meta charset="UTF-8" />
    <title>M2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="apple-mobile-web-app-title" content="M2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap hasHeader hasArticleHeader hasFooter">


    {{> common/headerSub}}

    <div class="articleHeader">
        <div class="_l">
            <h2>M2 간이투시도</h2>
        </div>
    </div>
    <div id="content">
        <div class="contentArea">
            <div class="d3M2List">
                <div class="_l">
                    <ul class="d3ImgList _c2">
                        {{#each pictureAllList}}
                            {{#each adminFileList}}
                                <li><a href="#" data-url="/picture/fileDown/{{id}}?type=admin"><img src="/images/upload/picture/admin/{{picture.id}}/{{name}}" alt="{{oriName}}" /></a></li>
                            {{/each}}
                        {{/each}}
                        <li id="more" class="articleMore" data-url="/picture/listAllContents" data-ui=".d3ImgList" data-last="{{pictureAllList.totalPages}}" data-current="{{page}}"><button type="button">더보기</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{> common/footer}}

</div>

{{> common/imgPopup}}
<script type="text/javascript" src="/js/m2/more.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#nav>div>ul>li:eq(1)>a").addClass("on");
        $(".headerTitle").html('<a href="/picture/list">간이투시도</a>');
    });
</script>
</body>
</html>