<div class="meterialGroup" id="downpipeArea">
    {{#each downpipeList}}
    <input type="text" name="downpipeList[{{@index}}].id"  value="{{id}}" />
    <div class="article">
        <div class="forms hasFormsTitle hasP">
            <div class="formsTitle">선홈통</div>
            <div class="form hasUnit w35">
                <input type="number" name="downpipeList[{{@index}}].width" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="폭" autocomplete="off" class="focusAct" value="{{width}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnit w35">
                <input type="number" name="downpipeList[{{@index}}].height" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="높이" autocomplete="off" class="focusAct" value="{{height}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnitS w30">
                <input type="number" name="downpipeList[{{@index}}].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="{{amount}}" />
                <div class="unit">EA</div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="firstArticle article" id="downpipeListFirst" style="display: none" data-count="{{downpipeListSize}}">
        <div class="forms hasFormsTitle hasP">
            <div class="formsTitle">선홈통</div>
            <div class="form hasUnit w35">
                <input type="number" name="downpipeList[0].width" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="폭" autocomplete="off" class="focusAct" value="0" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnit w35">
                <input type="number" name="downpipeList[0].height" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="높이" autocomplete="off" class="focusAct" value="0" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnitS w30">
                <input type="number" name="downpipeList[0].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="0" />
                <div class="unit">EA</div>
            </div>
        </div>
    </div>
    <div class="articleAdd">
        <button value="downpipeArea" data-class="downpipeList">선홈통 종류 추가</button>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var docount = '{{downpipeListSize}}';

    if(docount==0) $("#downpipeListFirst").show();
});
</script>