<div class="meterialGroup" id="doorArea">
    {{#each doorList}}
    <input type="text" name="doorList[{{@index}}].id"  value="{{id}}" />
    <div class="article">
        <div class="forms hasFormsTitle hasP">
            <div class="formsTitle">
                <button class="delete" data-url="/estimate/remove/door/{{id}}"><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                    <strong class="title">도어</strong><span class="guide">삭제</span>
                </button>
            </div>
            <div class="form w60">
                <input type="hidden" class="realWidth" value="{{width}}" />
                <input type="hidden" class="realHeight" value="{{height}}" />
                <select class="subType focusAct" name="doorList[{{@index}}].subType">
                    <option value="S" {{#equals 'S' subType}}selected="selected"{{/equals}}>스윙도어</option>
                    <option value="F" {{#equals 'F' subType}}selected="selected"{{/equals}}>방화문</option>
                    <option value="H" {{#equals 'H' subType}}selected="selected"{{/equals}}>행거도어(EPS전용)</option>
                </select>
            </div>
            <div class="form w40">
                <select class="focusAct" name="doorList[{{@index}}].type">
                    <option value="O" {{#equals 'O' type}}selected="selected"{{/equals}}>외벽 설치</option>
                    <option value="I" {{#equals 'I' type}}selected="selected"{{/equals}}>내벽 설치</option>
                </select>
            </div>
            <div class="widthDiv form hasUnit w30" style="display:none">
                <input type="number" name="doorList[{{@index}}].width" placeholder="너비" autocomplete="off" class="focusAct" value="{{width}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="heightDiv form hasUnit w30" style="display:none">
                <input type="number" name="doorList[{{@index}}].height" placeholder="높이" autocomplete="off" class="focusAct" value="{{height}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="selectDiv form w60">
                <select class="selectWh focusAct" name="doorList[{{@index}}].selectWh">
                    <option value="800,2000">800 x 2000</option>
                    <option value="800,2100">800 x 2100</option>
                    <option value="900,2100">900 x 2100</option>
                    <option value="1800,2100">1800 x 2100</option>
                </select>
            </div>
            <div class="form hasUnitS w40">
                <input type="number" name="doorList[{{@index}}].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="{{amount}}" />
                <div class="unit">EA</div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="firstArticle article" id="doorListFirst" style="display: none" data-count="{{doorListSize}}">
        <div class="forms hasFormsTitle hasP">
            <div class="formsTitle">
                <button class="deleteFirst delete" data-url=""><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                    <strong class="title">도어</strong><span class="guide">삭제</span>
                </button>
            </div>
            <div class="form w60">
                <input type="hidden" class="realWidth" value="" />
                <input type="hidden" class="realHeight" value="" />
                <select class="subType focusAct" name="doorList[0].subType">
                    <option value="S">스윙도어</option>
                    <option value="F">방화문</option>
                    <option value="H">행거도어(EPS전용)</option>
                </select>
            </div>
            <div class="form w40">
                <select class="focusAct" name="doorList[0].type">
                    <option value="O">외벽 설치</option>
                    <option value="I">내벽 설치</option>
                </select>
            </div>
            <div class="widthDiv form hasUnit w30" style="display:none">
                <input type="number" name="doorList[0].width" placeholder="너비" autocomplete="off" class="focusAct" value="0" />
                <div class="unit">㎜</div>
            </div>
            <div class="heightDiv form hasUnit w30" style="display:none">
                <input type="number" name="doorList[0].height" placeholder="높이" autocomplete="off" class="focusAct" value="0" />
                <div class="unit">㎜</div>
            </div>
            <div class="selectDiv form w60">
                <select class="selectWh focusAct" name="doorList[0].selectWh">
                    <option value="800,2000">800 x 2000</option>
                    <option value="800,2100">800 x 2100</option>
                    <option value="900,2100">900 x 2100</option>
                    <option value="1800,2100">1800 x 2100</option>
                </select>
            </div>
            <div class="form hasUnitS w40">
                <input type="number" name="doorList[0].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="0" />
                <div class="unit">EA</div>
            </div>
        </div>
    </div>
    <div class="articleAdd">
        <button value="doorArea" data-class="doorList">도어 종류 추가</button>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var dcount = '{{doorListSize}}';

    if(dcount== '0') {
        $("#doorListFirst").show();
    }

    $(".subType").each(function() {
        var subtype = $(this).val();

        if(subtype=='H'){
            $(this).parent().parent().find(".selectDiv").hide();
            $(this).parent().parent().find(".widthDiv").show();
            $(this).parent().parent().find(".heightDiv").show();
        }else{
            var realWith =$(this).parent().find(".realWidth").val();
            var realHeight =$(this).parent().find(".realHeight").val();
            $(this).parent().parent().find(".selectDiv").show();
            $(this).parent().parent().find(".widthDiv").hide();
            $(this).parent().parent().find(".heightDiv").hide();
            if(realWith!=''){
                $(this).parent().parent().find(".selectDiv>select").val(realWith+","+realHeight).prop("selected", true);
            }
        }

    });

    $(".subType").change(function() {
        var subtype = $(this).val();
        if(subtype=='H'){
            $(this).parent().parent().find(".selectDiv").hide();
            $(this).parent().parent().find(".widthDiv").show();
            $(this).parent().parent().find(".heightDiv").show();
        }else{
            $(this).parent().parent().find(".selectDiv").show();
            $(this).parent().parent().find(".widthDiv").hide();
            $(this).parent().parent().find(".heightDiv").hide();
        }
    });

});
</script>