{{#each listEstimate}}
    <li>
        <div class="article">
            <img src="/images/m2/cal/typeIcon{{structureType}}.png" class="icon" alt="{{typeNameKr structureType}}" />
            <a class="articleLink" href="/estimate/calculate?id={{id}}">
                <span class="articleTitle">[{{cityNameKr cityName}}] {{placeName}}</span>
                <span class="articleDate">{{formatDate createDate "yyyy-MM-dd hh:mm"}}</span>
            </a>
            <button class="articleButton download"><img src="/images/m2/common/iconDownload.png" class="icon" alt="" /><span class="buttonName"><a href="/estimate/fileDown/{{id}}?sName={{placeName}}">다운로드</a></span></button>
        </div>
    </li>
{{/each}}