{{#each insideWallList}}
    <div class="article on">
        <div class="forms hasFormsTitle hasP">
            <div class="formsTitle">

                <button type="button" class="{{#notEquals @index 0 }}delete{{/notEquals}}{{#equals @index 0 }}deleteFirst{{/equals}}" data-url="/estimate/remove/insideWall/{{id}}"><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                    <strong class="title">내벽</strong><span class="guide">삭제</span>
                </button>

            </div>
            <div class="form hasUnit w35">
                <input type="number" name="structureDetail.insideWallList[{{@index}}].length" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="내벽길이" autocomplete="off" class="focusAct" value="{{length}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnit w35">
                <input type="number" name="structureDetail.insideWallList[{{@index}}].height" placeholder="내벽높이" autocomplete="off" class="focusAct" value="{{height}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnitS w30">
                <input type="number" name="structureDetail.insideWallList[{{@index}}].amount" placeholder="내벽수량" autocomplete="off" class="amount focusAct" value="{{amount}}" />
                <div class="unit">EA</div>
            </div>
        </div>
    </div>
{{/each}}
<div class="article firstArticle" id="insideWallListFirst" style="display: none" data-count="{{insideWallListSize}}">
    <div class="forms hasFormsTitle hasP">
        <div class="formsTitle">
            <button type="button" class="deleteFirst" data-url=""><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                <strong class="title">내벽</strong><span class="guide">삭제</span>
            </button>
        </div>
        <div class="form hasUnit w35">
            <input type="number" name="structureDetail.insideWallList[0].length" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="내벽길이" autocomplete="off" class="focusAct" value="" />
            <div class="unit">㎜</div>
        </div>
        <div class="form hasUnit w35">
            <input type="number" name="structureDetail.insideWallList[0].height" placeholder="내벽높이" autocomplete="off" class="focusAct" value="" />
            <div class="unit">㎜</div>
        </div>
        <div class="form hasUnitS w30">
            <input type="number" name="structureDetail.insideWallList[0].amount" placeholder="내벽수량" autocomplete="off" class="amount focusAct" value="" />
            <div class="unit">EA</div>
        </div>
    </div>
</div>
<div class="articleAdd">
    <button type="button" value="insideWallArea" data-class="insideWallList">내벽 종류 추가</button>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var icount = '{{insideWallListSize}}';

    if(icount==0) {
        $("#insideWallListFirst").show();
        $("#insideWallListFirst").addClass("on");
    }
});
</script>