{{#each ceilingList}}
    <div class="article on">
        <div class="forms hasFormsTitle hasP">
            <div class="formsTitle">
                <button type="button" class="{{#notEquals @index 0 }}delete{{/notEquals}}{{#equals @index 0 }}deleteFirst{{/equals}}" data-url="/estimate/remove/ceiling/{{id}}"><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                    <strong class="title">천장</strong><span class="guide">삭제</span>
                </button>
            </div>
            <div class="form hasUnit w35">
                <input type="number" name="structureDetail.ceilingList[{{@index}}].length" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="천장폭" autocomplete="off" class="focusAct" value="{{length}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnit w35">
                <input type="number" name="structureDetail.ceilingList[{{@index}}].height" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="천장길이" autocomplete="off" class="focusAct" value="{{height}}" />
                <div class="unit">㎜</div>
            </div>
            <div class="form hasUnitS w30">
                <input type="number" name="structureDetail.ceilingList[{{@index}}].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="천장수량" autocomplete="off" class="amount focusAct" value="{{amount}}" />
                <div class="unit">EA</div>
            </div>
        </div>
    </div>
{{/each}}
<div class="firstArticle article" id="ceilingListFirst" style="display: none" data-count="{{ceilingListSize}}">
    <div class="forms hasFormsTitle hasP">
        <div class="formsTitle">
            <button type="button" class="deleteFirst" data-url=""><img src="/images/m2/common/iconX.png" class="icon" alt="" />
                <strong class="title">천장</strong><span class="guide">삭제</span>
            </button>
        </div>
        <div class="form hasUnit w35">
            <input type="number" name="structureDetail.ceilingList[0].length" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="천장폭" autocomplete="off" class="focusAct" value="" />
            <div class="unit">㎜</div>
        </div>
        <div class="form hasUnit w35">
            <input type="number" name="structureDetail.ceilingList[0].height" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="천장길이" autocomplete="off" class="focusAct" value="" />
            <div class="unit">㎜</div>
        </div>
        <div class="form hasUnitS w30">
            <input type="number" name="structureDetail.ceilingList[0].amount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="천장수량" autocomplete="off" class="amount focusAct" value="" />
            <div class="unit">EA</div>
        </div>
    </div>
</div>
<div class="articleAdd">
    <button type="button" value="ceilingArea" data-class="ceilingList">천장 종류 추가</button>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var ccount = '{{ceilingListSize}}';

    if(ccount==0){
        $("#ceilingListFirst").show();
        $("#ceilingListFirst").addClass("on");
    }
});
</script>