<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div style="text-align: right;width: 20%; padding-bottom: 5px">
    <nav aria-label="breadcrumb" style="float:left">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"> 회원 | 전체 {{comma userList.totalElements}}명 </li>
        </ol>
    </nav>
</div>

<div class="input-group" style="float:right; width:60%">
    <form class="form-inline my-2 my-lg-0 mr-lg-2" id="searchFrom" action="/admin/user/list">
    <select class="custom-select" id="searchCondition" name="searchCondition" aria-label="Example select with button addon">
        <option value="">전체</option>
        <option value="name">이름</option>
        <option value="id">아이디</option>
        <option value="phone">전화번호</option>
        <option value="email">메일</option>
    </select>

    <div class="input-group">
        <input class="form-control" type="text" name="searchText" id="searchText" placeholder="Search for..." value="{{searchText}}">
        <span class="input-group-btn"><button class="btn btn-primary" type="button" id="search"><i class="fa fa-search"></i></button></span>
        <a class="btn btn-primary" href="/admin/user/register" role="button" style="margin-left: 5px">등록</a>
    </div>
    </form>
</div>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>번호</th>
        <th>이름(ID)</th>
        <th>메일</th>
        <th>전화</th>
        <th>알림동의여부</th>
        <th>상태</th>
        <th>가입일</th>
    </tr>
    </thead>
    <tbody>
        {{#each userList}}
        <tr>
            <td> {{rowNum userList.totalElements page @index }} </td>
            <td><a href="/admin/user/modify/{{num}}">{{name}} ({{id}})</a></td>
            <td>{{email}} </td>
            <td>{{phone}}</td>
            <td>{{agreeYn}}</td>
            <td>{{status}}</td>
            <td>{{formatDate createDate "yyyy-MM-dd"}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{> admin/common/paginationAdmin currentPageNumber=page totalPageCount=userList.totalPages pageGroupCount=userList.numberOfElements}}

{{> admin/common/footer }}

<script type="text/javascript">
    $(document).ready(function(){
        $("#search").click(function() {
            $("#searchFrom").submit();
        });
        var searchCondition = "{{searchCondition}}";

        if(searchCondition!=''){
            $("#searchCondition").val(searchCondition);
        }
    });
</script>
</body>
</html>
