<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS-->
    <link href="/css/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/css/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/css/bootstrap/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/bootstrap/sb-admin.css" rel="stylesheet">
    <script src="/js/handlebars/handlebars-v4.0.11.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

{{> admin/common/nav}}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="table-responsive">
            <div style="text-align: right;width: 100%; padding-bottom: 5px"><a class="btn btn-primary" href="/admin/user/register" role="button">등록</a></div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>이름(ID)</th>
                    <th>메일</th>
                    <th>전화</th>
                    <th>알림동의여부</th>
                    <th>상태</th>
                    <th>가입일</th>
                </tr>
                </thead>
                <tbody>
                    {{#each userList}}
                    <tr>
                        <td><a href="/admin/user/modify/{{num}}">{{name}} ({{id}})</a></td>
                        <td>{{email}} </td>
                        <td>{{phone}}</td>
                        <td>{{agreeYn}}</td>
                        <td>{{status}}</td>
                        <td>{{createDate}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> admin/common/footer}}

</body>
</html>
