<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>M2 CALCULUS TEST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="apple-mobile-web-app-title" content="M2" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap hasHeader hasCalProcess hasFooter">


    <div id="header">
        <div class="_l">
            <div class="headerIcon"><img src="/images/m2/common/logoS.png" alt="M2" class="logo" /></div>
            <h1 class="headerTitle">자동판넬견적</h1>
            <button class="headerFunction">?</button>
        </div>
    </div>
    <div class="calProcess">
        <div class="_l">
            <ul>
                <li class="on"><a href="#">건물정보</a></li>
                <li><a href="#">세부정보</a></li>
                <li><a href="#">규격정보</a></li>
                <li><a href="#">자재선택</a></li>
            </ul>
        </div>
    </div>
    <div id="content" class="cal">
        <div class="contentArea">
            <div class="selectedCalType">
                <div class="_l">
                    <img src="/images/m2/cal/typeIconA.png" alt="A 트러스 타입" />
                    <strong>A 트러스형</strong>
                </div>
            </div>
            <div class="formArea">
                <form name="structureForm" id="structureForm" method="post" action="/estimate/step01">
                {{#structureForm}}
                <input type="text" name="structureType" value="{{type}}" />
                <input type="text" name="user.num" value="1" />
                <input type="text" name="id" value="{{id}}" />

                <div class="_l">
                    <div class="formsGroup">
                        <div class="form full">
                            <select class="focusAct" name="cityName">
                                <option>지역 선택</option>
                                <option value="10">서울</option>
                                <option value="20">강원</option>
                                <option value="30">대전</option>
                                <option value="31">충남</option>
                                <option value="33">세종</option>
                                <option value="36">충북</option>
                                <option value="40">인천</option>
                                <option value="41">경기</option>
                                <option value="50">광주</option>
                                <option value="51">전남</option>
                                <option value="56">전북</option>
                                <option value="60">부산</option>
                                <option value="62">경남</option>
                                <option value="68">울산</option>
                                <option value="69">제주</option>
                                <option value="70">대구</option>
                                <option value="71">경북</option>
                                <option value="99">기타</option>
                            </select>
                        </div>
                        <div class="form hasLabel full">
                            <label class="labelId">현장이름</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="text" autocomplete="off" class="focusAct" name="placeName" value="{{placeName}}" />
                        </div>
                    </div>
                    <div class="formsGroup">
                        <div class="form hasLabel value hasUnit full important">
                            <label class="labelId">건물폭</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" min="0" autocomplete="off" class="focusAct" name="width" value="{{width}}" />
                            <div class="unit">㎜</div>
                        </div>
                        <div class="form hasLabel value hasUnit full important">
                            <label class="labelId">건물길이</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" min="0" autocomplete="off" class="focusAct" name="length" value="{{length}}" />
                            <div class="unit">㎜</div>
                        </div>
                        <div class="form hasLabel value hasUnit full important">
                            <label class="labelId">건물높이</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" min="0" autocomplete="off" class="focusAct" name="height" value="{{height}}" />
                            <div class="unit">㎜</div>
                        </div>
                        <div class="form hasLabel value hasUnit full important">
                            <label class="labelId">트러스높이</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" min="0" autocomplete="off" class="focusAct" name="trussHeight" value="{{trussHeight}}" />
                            <div class="unit">㎜</div>
                        </div>
                        <div class="form hasLabel value hasUnit full important"><!-- B1 타입 전용 -->
                            <label class="labelId">처마길이</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" min="0" autocomplete="off" class="focusAct" name="eavesLength" value="{{eavesLength}}" />
                            <div class="unit">㎜</div>
                        </div>
                        <div class="form hasLabel value hasUnit full important"><!-- B1 타입 전용 -->
                            <label class="labelId">배면트러스높이</label>
                            <span class="formMsg">필수 입력</span>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" min="0" autocomplete="off" class="focusAct" name="rearTrussHeight" value="{{rearTrussHeight}}" />
                            <div class="unit">㎜</div>
                        </div>
                    </div>
                </div>
                {{/structureForm}}
                </form>
            </div>
        </div>
    </div>
    <div id="nav">
        <div class="_l">
            <ul>
                <li><a href="#" class="on"><img src="/images/m2/nav/n01.png" alt="cal" /></a></li>
                <li><a href="#"><img src="/images/m2/nav/n02.png" alt="3d" /></a></li>
                <li><a href="#"><img src="/images/m2/nav/n03.png" alt="bbs" /></a></li>
                <li><a href="#"><img src="/images/m2/nav/n04.png" alt="member" /></a></li>
            </ul>
        </div>
    </div>
    <div id="button">
        <div class="_l">
            <ul class="_c2">
                <li><a href="#" class="cancel">취소</a></li>
                <li><a href="#" class="next on">다음</a></li>
            </ul>
        </div>
    </div>


</div>

<script type="text/javascript">
$(document).ready(function(){

    $(".next").click(function() {
        $( "#structureForm" ).submit();
    });

});
</script>
</body>
</html>

